<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/medi.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">Medicamento : Eliminar</span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>
</nav>
<div class="container ">
  <br><br>
  <form class="form-inline my-2 my-lg-0 ">
    <input class="form-control mr-sm-2 px-4 " type="search" placeholder="Nombre" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br><br>
  <form>
    <div class="form-group ">
      <label>Nombre</label>
      <input type="text" class="form-control" id="me-numeroCedula" disabled>
    </div>
    <div class="form-group">
      <label>Casa farmacéutica</label>
      <input type="text" class="form-control" id="me-nombre" disabled>
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Eliminar</button>
  <br>
</div>
