<h4><strong>Sing In</strong></h4>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre de usuario</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Confirme Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Gerente
    </label>
  </div>
  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Dependiente
    </label>
  </div>
  <div class="form-check-inline">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Farmacéuticos
    </label>
  </div>




  <button type="button" class="btn btn-primary btn-block">Log In</button>
  <br>
</form>
