<h4><strong>Sing In</strong></h4>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre de usuario</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Confirme Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>



  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input"> Gerente
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-block">Log In</button>
  <br>
</form>