<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/grafica.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">Estadistica : Generar</span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>
</nav>


<br><br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 500px;">
        <div class="card-header ">
          Productos más vendidos en total
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 500px;">
        <div class="card-header">
          Productos más vendidos por el nuevo software
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<br><br>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <!--  Cantidad de ventas por compañía. -->
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Compañia</th>
          <th scope="col">Productos mas vendidos</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Cartago</th>
          <td>Crema de Rosas - Sertal - Gex                   gfdg     </td>
        </tr>
        <tr>
          <th>Heredia</th>
          <td>Panadol - Aspirina Fortes - Alive</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <!--  Productos más vendidos por compañía. -->
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Compañia</th>
          <th scope="col">Cantidad de ventas</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Cartago</th>
          <td>7531</td>
        </tr>
        <tr>
          <th>Heredia</th>
          <td>34568</td>
        </tr>
        </tbody>
      </table>


    </div>
  </div>
  <br>
</div>
