<app-titulo></app-titulo>
<div class="container">
  <h4 align="center">Lista de pedidos </h4>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/pedidos/t-nuevo" >Nuevos</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/pedidos/t-preparado">Preparados</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/pedidos/t-facturado">Facturados</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/pedidos/t-retirado">Retirados</button>

  <br>

  <div align="center">
    <a routerLink="/">Salir de vista Sucursal</a>
  </div>

</div>
