<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/sucursal.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">Sucursal : Ingresar</span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>
</nav>

<div class="container">
  <br><br>
  <form>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="si-nombre">
    </div>

    <div class="form-group">
      <label>Dirección</label>
      <input type="text" class="form-control" id="si-direccion">
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control" id="si-descripcion" rows="2"></textarea>
    </div>

    <div class="form-group">
      <label >Administrador</label>
      <select multiple class="form-control" id="si-administrador">
        <option>Jose</option>
        <option>Marcelo</option>
        <option>Daniel</option>
        <option>Sebastian</option>
        <option>Jose</option>
        <option>Marcelo</option>
        <option>Daniel</option>
        <option>Sebastian</option>
        <option>Jose</option>
        <option>Marcelo</option>
        <option>Daniel</option>
        <option>Sebastian</option>
      </select>
    </div>

  </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Crear</button>
  <br>
</div>

