<h4><strong>Login</strong></h4>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre de usuario</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>
  <button type="button" class="btn btn-primary btn-block" routerLink="gestion">
    Log In
  </button>
</form>