<h4><strong>Login</strong></h4>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nombre de usuario</label>
    <input type="text" class="form-control" id="exampleFormControlInput11" placeholder="">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>
  <button (click)="logInClic()" type="button" class="btn btn-primary btn-block" >
    Log In
  </button>
</form>

<div *ngIf="show == 1">
  <br>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error...</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" routerLink="/gestion">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div *ngIf="show == 2">
  <br>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Exito</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" routerLink="/gestion">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
