<app-titulo></app-titulo>

<div class="row text-center">
  <div class="col-6 col-md-4 ">
    <h3 class="text-center">Cliente</h3>
    <div class="text-center">
      <img src="assets/cliente.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/cliente/c-crear" class="badge badge-primary">Crear</a>
    <a routerLink="/cliente/c-actualizar" class="badge badge-primary">Actualizar</a>
    <a routerLink="/cliente/c-eliminar" class="badge badge-primary">Eliminar</a>


  </div>
  <div class="col-6 col-md-4 ">
    <h3 class="text-center">Doctor</h3>
    <div class="text-center">
      <img src="assets/doctor1.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/doctor/d-crear" class="badge badge-primary">Crear</a>
    <a routerLink="/doctor/d-actualizar" class="badge badge-primary">Actualizar</a>
    <a routerLink="/doctor/d-eliminar" class="badge badge-primary">Eliminar</a>
  </div>
  <div class="col-6 col-md-4 ">
    <h3 class="text-center">Medicamento</h3>
    <div class="text-center">
      <img src="assets/medicamento.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/medicamentos/m-crear" class="badge badge-primary">Crear</a>
    <a routerLink="/medicamentos/m-actualizar" class="badge badge-primary">Actualizar</a>
    <a routerLink="/medicamentos/m-eliminar" class="badge badge-primary">Eliminar</a>
    <a routerLink="/medicamentos/m-lista" class="badge badge-primary">Lista</a>
    <a routerLink="/medicamentos/m-consulta" class="badge badge-primary">Consultar</a>

  </div>
</div>
<br><br><br>
<div class="row text-center">
  <div class="col-6 col-md-4">
    <h3 class="text-center">Rol</h3>
    <div class="text-center">
      <img src="assets/help.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/rol/r-ingresar" class="badge badge-primary">Ingresar</a>
    <a routerLink="/rol/r-modificar" class="badge badge-primary">Modificar</a>
    <a routerLink="/rol/r-eliminar" class="badge badge-primary">Eliminar</a>
  </div>
  <div class="col-6 col-md-4">
    <h3 class="text-center">Sucursal</h3>
    <div class="text-center">
      <img src="assets/pharmacy.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/sucursal/s-ingresar" class="badge badge-primary">Ingresar</a>
    <a routerLink="/sucursal/s-modificar" class="badge badge-primary">Modificar</a>
    <a routerLink="/sucursal/s-eliminar" class="badge badge-primary">Eliminar</a>
  </div>
  <div class="col-6 col-md-4">
    <h3 class="text-center">Estadistica</h3>
    <div class="text-center">
      <img src="assets/grafica.png" class="img-responsive" alt="Responsive image">
    </div>
    <a routerLink="/estadistica/generar" class="badge badge-primary" >Generar</a>
  </div>
</div>
